<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<style type="text/css">
h1 {text-align: center}
td, th {padding: 10}
table {border-spacing: 0}
table, th, td {border: lightgrey solid 1px; vertical-align: top}
</style>
<title>$Title</title>
</head>
<body>
<div align="center">
<p><strong>$Title</strong></p>
<p>by</p>
<p><strong>$AuthorName</strong></p>
<br />
</div>
<h1>Timeline</h1>
<table>
<tr>
<th>Scene</th>
<th>Characters</th>
<th>Locations</th>
<th>Date</th>
<th>Time</th>
<th>Day</th>
<th>Hour</th>
<th>Minute</th>
<th>LastsDays</th>
<th>LastsHours</th>
<th>LastsMinutes</th>
</tr>
