<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<style type="text/css">
h1 {text-align: center}
td, th {padding: 10}
table {border-spacing: 0}
table, th, td {border: lightgrey solid 1px}
</style>
<title>$Title</title>
</head>
<body>
<div align="center">
<p><strong>$Title</strong></p>
<p>by</p>
<p><strong>$AuthorName</strong></p>
<br />
</div>
<h1>Plot</h1>
<table>
<tr>
<th>Scene</th>
<th>Viewpoint</th>
<th>A/R</th>
<th>Goal/Reaction</th>
<th>Conflict/Dilemma</th>
<th>Outcome/Decision</th>
</tr>
