<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<style type="text/css">
h1 {text-align: center}
td, th {padding: 10}
table {border-spacing: 0}
table, th, td {border: lightgrey solid 1px; vertical-align: top}
</style>
<title>$Title</title>
</head>
<body>
<div align="center">
<p><strong>$Title</strong></p>
<p>by</p>
<p><strong>$AuthorName</strong></p>
<br />
</div>
<h1>Location List</h1>
<table>
<tr>
<th>Name</th>
<th>aka</th>
<th>Tags</th>
<th>Description</th>
</tr>
